
body {
      text-align: center;
      font-family: Arial, sans-serif;
    }
    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }
    table, th, td {
      border: 2px solid black;
      border-collapse: collapse;
      background-color: yellow;
      padding: 10px 20px;
    }
    th {
      font-weight: bold;
      font-size: 18px;
    }